<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Frontend/styles/main.css">
    <title>SGS</title>
</head>
<body>
    <div>
        <img class="backimage" src="/Frontend/src/img/Social2.png" alt="Social">
        <div class="snow-box">
            <div class="snow"></div>
        </div>
        <div class="content">
            <nav class="navbar">
                <a href="/Frontend/template/home.html">
                    <ul class="navtextactive">Home</ul>
                </a>
                <a>
                    <ul class="navtext">About</ul>
                </a>
                <a>
                    <ul class="navtext">FAQ</ul>
                </a>
                <a>
                    <ul class="navtext">Team Members</ul>
                </a>
            </nav>
            <div>
                <h3 class="texthead" data-text="Get Start Your Surveillance">-</h3>
            </div>
            <button class="startbutton">Monitor</button>
        </div>
        <a href="/Frontend/template/home.html">
            <h1 style="height: 200px;" id="textmain">Safe-Guard<br>Surveillance</h1>
        </a>
    </div>

    <script href="/Frontend/script/homs.js"></script>
</body>
</html>