<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Frontend/styles/main.css">
    <title>SGS</title>
</head>
<body>
    <img class="backimage" src="/Frontend/src/img/Social2.png" alt="Social">
    <div class="snow-box">
        <div class="snow"></div>
    </div>
    <div class="content">
        <div class="content__head"></div>
    </div>
    <h1 style="height: 200px;" id="textmain">Safe-Guard<br>Surveillance</h1>

    </div>    <script href="/Frontend/script/homs.js"></script>
</body>
</html>