<!-------------------------------------------Common Head--------------------------------------------------------------->  
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/team.css">
    <title>SGS-TM</title>
</head>
<body>
    <div>
        <img class="backimage" src="/Frontend/src/img/Social2.png" alt="Social">
        <div class="snow-box">
            <div class="snow"></div>
        </div>
        <div class="content">
            <nav>
                <ul class="navbar">
                    <a href="/index.html">
                        <li class="navtext">Home</li>
                    </a>
                    <a href="./about.html">
                        <li class="navtext">About</li>
                    </a>
                    <a href="./faq.html">
                        <li class="navtext">FAQ</li>
                    </a>
                    <a href="./team.html">
                        <li class="navtextactive">Team Members</li>
                    </a>
                </ul>
            </nav>
            
        <a href="/Frontend/template/home.html">
            <h1 id="textmain">Safe-Guard<br>Surveillance</h1>
        </a>

        <audio autoplay src="/Frontend/src/music/background.mp3" rel="background.mpeg"></audio>

<!-------------------------------------------Common Head--------------------------------------------------------------->   

<!-------------------------------------------Common foot--------------------------------------------------------------->        

<script href="/Frontend/script/homs.js"></script>
</body>
</html>

<!-------------------------------------------Common foot--------------------------------------------------------------->   